<form action="/invite_roommate" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type= "text" name= "email" >
  <input type= "submit">
</form>
