<h1><%= @user.name %></h1>

<h2><%= '#{@apartment.name}' %></h2>
<!-- add link to apartment show page -->

<%= image_tag("cup.jpg", class: "image") %>

<h2><%= link_to "My Expenses", apartment_user_expenses_path(@apartment, @user) %></h2>
