<h1><%= @user.name %></h1>

<h2><%= link_to '#{@apartment.name}', apartment_path(current_user.apartment) %></h2>
<h2><%= link_to "My Expenses", apartment_user_expenses_path(@apartment, @user) %></h2>

<%= image_tag("cup.jpg", class: "image") %>
