<h1><%= @apartment.name %></h1>

<h2 class="subtitle"><%= link_to "Invite Roommates", new_user_invitation_path %></h2>

<h2 class="subtitle"><%= link_to "View All Expenses", apartment_path(@apartment) %></h2>

<%= image_tag("cup.jpg", class: "image") %>
