<h2>Register Your House or Apartment</h2>

<h2 class="subtitle">Create a profile for your house or apartment so that you can invite your roommates to join your account on Clean Slate, and stack tracking your household expenses!</h2>

<%= form_for ([@apartment]) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
