<h1><%= @apartment.name %></h1>

<h2 class='subtitle'>Roommates:</h2>
  <% @users.each do |user| %>
  <p><%= user.name %></p>
  <% end %>
<button><%= link_to "Invite Roommates", new_user_invitation_path %></button>



<table class="table">
  <p>This Month's Expenses:</p>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
</table>

<button>Settle Up Method Here</button>
<button>Clean Slate Button Here</button>

<br>
