
<% if current_user %>

  <% if current_user.apartment %>
    <%= link_to "View My Expenses", apartment_user_expenses_path(@apartment, current_user) %>
  <% else %>
    <h2><%= link_to "Create Your Apartment", new_apartment_path %></h2>
  <% end %>

<% else %>

<%= link to "Sign in or Create an Account", new_user_session_path %>

<% end %>
